# Виртуальное окружение
venv/

# База данных SQLite
db.sqlite3

# Медиафайлы (загружаемые пользователями)
media/

# Python кеши и временные файлы
__pycache__/
*.py[cod]
*$py.class

# Файлы логов
*.log

# Файлы окружения и настроек
*.env
*.local

# Конфигурации редакторов
.vscode/
.idea/
*.swp

# Файлы системы
.DS_Store
Thumbs.db
