asgiref==3.8.1
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
cryptography==44.0.3
Django==5.2.1
djangorestframework==3.16.0
et_xmlfile==2.0.0
lxml==5.4.0
openpyxl==3.1.5
packaging==25.0
pdfminer.six==20250506
pillow==11.2.1
pycparser==2.22
PyJWT==2.10.1
PyPDF2==3.0.1
pytesseract==0.3.13
python-docx==1.1.2
sqlparse==0.5.3
typing_extensions==4.13.2
